*{
    margin: 0;
    padding: 0;
}

.container{
    border: 5px solid red;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calculator{
    border: 5px solid black;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}